.gameNav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-normal);
  margin-top: 10px;
  .btn {
    flex: 1 0 0;
    &.locked {
      filter: blur(1px) brightness(50%);
    }
    &.unlocked {
      filter: brightness(50%);
    }
  }
}
