.gameNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  .btn {
    &.locked {
      filter: blur(1px) brightness(50%);
    }
    &.unlocked {
      filter: brightness(50%);
    }
  }
}
