.dropDownWrapper {
  width: 5em;
  color: var(--accent-colour);
  font-size: 0.9em;
  position: relative;
  user-select: none;
}

.dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.dropDownOptions {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0;
}

.dropDown:hover {
  .dropDownOptions {
    height: fit-content;
    .dropDownOption:last-child {
      border-radius: 0 0 var(--radius-normal) var(--radius-normal);
    }
  }
  .dropDownSelected {
    border-radius: var(--radius-normal) var(--radius-normal) 0 0;
  }
}

.dropDownOption,
.dropDownSelected {
  background: var(--accent);
  color: var(--accent-colour);
  text-decoration: none;
  padding: 0 2px;
  &:hover {
    filter: brightness(50%);
  }
}

.dropDownSelected {
  border-radius: var(--radius-normal);
}
