.Home-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  a {
    margin: 10px;
  }
}

.Home-header-nav {
  display: flex;
  flex-direction: horizontal;
}

.logo {
  width: 100px;
}
