.homeHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  a {
    margin: 10px;
  }
}

.homeHeaderNav {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 40px;
  width: 100px;
  flex-shrink: 0;
}
