.archiveTitle {
  padding: 0 10px;
  margin-bottom: 10px;
  background: var(--accent);
  color: var(--accent-colour);
  border-radius: 3px;
}

.archive {
  display: grid;
  grid-template-rows: auto auto auto minmax(0, 1fr);
}
