.game-start-word {
  font-size: 1.2em;
}

.game-end-word {
  font-size: 1.2em;
}

.game-input {
  background: var(--accent);
  color: var(--accent-color);
  margin: 5px 20px;
  padding: 10px;
  height: 1em;
  line-height: 1em;
}

.game-box {
  text-align: center;
  margin-top: 20px;
  user-select: none;
}

.game-info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 10px;
  .game-info-select {
    background: var(--accent);
    color: var(--accent-color);
    font-size: 0.8em;
    border-radius: 3px;
  }
}
