.gameStartWord {
  font-size: 1.2em;
}

.gameEndWord {
  font-size: 1.2em;
}

.gameInput {
  background: var(--accent);
  color: var(--accent-colour);
  margin: 5px 20px;
  padding: 10px;
  height: 1em;
  line-height: 1em;
  width: 100%;
}

.gameBox {
  text-align: center;
  margin-top: 20px;
  user-select: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
}

.scrollingGroup {
  overflow-y: auto;
  width: 100%;
}
