.colourThemePreview {
  color: var(--accent-colour);
  background: var(--accent);
  padding: 5px;
  border: solid var(--accent-colour) 2px;
  border-radius: 2px;
  user-select: none;
}

.colourTheme {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.colourTheme input {
  display: none;
}

.fontPreview {
  color: var(--accent-colour);
  background: var(--accent);
  padding: 5px;
  border: solid var(--accent-colour) 2px;
  border-radius: 2px;
  user-select: none;
}

.fonts {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.fonts input {
  display: none;
}

input[type="checkbox"] {
  appearance: none;
  display: inline-block;
  width: 50px;
  aspect-ratio: 2 / 1;
  border: solid var(--accent-colour) 2px;
  border-radius: 99px;
  background: #f00;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background: var(--accent-colour);
}

input[type="checkbox"]:checked {
  background: #0f0;
}

input[type="checkbox"]:checked::before {
  left: auto;
  right: 1px;
}
