.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.keyboardRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  & > * {
    background: var(--accent);
    color: var(--accent-colour);
    margin: 2px;
    height: 2em;
    border-radius: 3px;
    user-select: none;
    flex: 1;
  }
}

.keyboardBig {
  flex: 1.6;
}

.keyboardGap {
  flex: 0.5;
  visibility: hidden;
}
