:root {
  --background: #333;
  --colour: #fff;

  --accent: #38a;
  --accent-colour: #fff;

  --error: #f005;
  --error-colour: #f30;

  --message: #ff05;
  --message-colour: #fff;
}

@font-face {
  font-family: "default";
  src: url("./assets/fonts/Nunito-Regular.woff2");
  font-weight: 400;
}

body {
  background: var(--background);
  color: var(--colour);
  font-size: 1.5em;
  font-family: "default", Arial;
}

button {
  font: inherit;
  color: inherit;
  background: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--accent);
}

#root {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  height: 100dvh;
  min-width: 200px;
}

html,
body {
  height: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  #root {
    border: solid var(--accent) 3px;
    border-radius: 5px;
    width: fit-content;
  }
}

.scrollbar-styles,
body,
#root {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, black 35%, var(--accent));
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #0000;
  }
}
