:root {
  --background: #333;
  --colour: #fff;

  --accent: #38a;
  --accent-colour: #fff;
  --accent-dark: #057;

  --error: #f005;
  --error-colour: #f30;

  --message: #ff05;
  --message-colour: white;
}

.light {
  --background: #fff;
  --color: #000;
}

@font-face {
  font-family: "default";
  src: url("./assets/fonts/Nunito-Regular.woff2");
  font-weight: 400;
}

body {
  background: var(--background);
  color: var(--colour);
  font-size: 1.5em;
  font-family: "default", Arial;
}

button {
  font: inherit;
  color: inherit;
  background: inherit;
  border: none;
  padding: 0;
  margin: 0;
}
#root > * {
  padding: 5px;
}
@media screen and (min-width: 768px) {
  #root > * {
    width: fit-content;
    min-width: 200px;
    margin: 0 auto;
    border: solid var(--accent) 3px;
    border-radius: 5px;
    max-width: calc(100% - 50px);
  }
}
#root {
  width: 100%;
  overflow-x: hidden;
}

a {
  color: var(--accent);
}
