@font-face {
  font-family: "default";
  src: url("./assets/fonts/Nunito-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "fancy";
  src: url("./assets/fonts/StyleScript-Regular.woff2");
  font-weight: 400;
  size-adjust: 120%;
}

@font-face {
  font-family: "easy";
  src: url("./assets/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "comic";
  src: url("./assets/fonts/ComicNeue-Regular.woff2");
  font-weight: 400;
}

body {
  background: var(--background);
  color: var(--colour);
  font-size: 1.5em;
}

button {
  font: inherit;
  color: inherit;
  background: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--accent);
}

#root {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  height: 100dvh;
  min-width: 200px;
}

html,
body {
  height: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  #root {
    border: solid var(--accent) 3px;
    border-radius: 5px;
    width: fit-content;
  }
}

.scrollbar-styles,
body,
#root {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, black 35%, var(--accent));
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #0000;
  }
}
