.gameStatsBox {
  width: 100%;
}

.gameStatsTitle {
  padding: 0 10px;
}

.gameStatsInfo {
  max-height: 100px;
  width: 100%;
  overflow-y: auto;
  display: flex;
}

.gameStatsPath {
  background: var(--accent);
  color: var(--accent-colour);
  border-radius: 2px;
  font-size: 0.7em;
  text-align: center;
  min-width: 50px;
  margin: 5px;
  width: fit-content;
  height: fit-content;
}

.gameStatsPathStart,
.gameStatsPathEnd {
  font-size: 1.2em;
}
