.game-stats-box {
  width: 100%;
}

.game-stats-title {
  padding: 0 10px;
}

.game-stats-info {
  max-height: 100px;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-dark) #ccc;
  display: flex;
  &::-webkit-scrollbar {
    width: 5px;
  }
}

.game-stats-path {
  background: var(--accent);
  color: var(--accent-colour);
  border-radius: 2px;
  font-size: 0.7em;
  text-align: center;
  min-width: 50px;
  margin: 5px;
  width: fit-content;
  height: fit-content;
}

.game-stats-path-start,
.game-stats-path-end {
  font-size: 1.2em;
}
